﻿<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - SDM web app</title>

        <link rel="stylesheet" href="~/lib-main/angular-material.css" />
        <link rel="stylesheet" href="~/css/sdmSite.css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet">
        <environment names="Development">

        </environment>
        <environment names="Staging,Production">
        </environment>
    </head>
    <body ng-cloak>
        <div layout="column" layout-align="">
            <div flex>
                <div layout="row">
                    <div flex="10"></div>
                    <div flex>
                        <div layout="row" style="border:1px solid lightgrey">
                            @RenderBody()
                        </div>

                    </div>


                    <div flex="10"></div>
                </div>

            </div>
            <div flex>Copyright 2016 Scanbur A/S</div>
        </div>

        <environment names="Development,Staging,Production">
            <script src="~/lib-main/jquery.js" asp-append-version="true"></script>
            <script src="~/lib-main/angular.js" asp-append-version="true"></script>
            <script src="~/lib-main/angular-aria.js" asp-append-version="true"></script>
            <script src="~/lib-main/angular-animate.js" asp-append-version="true"></script>
            <script src="~/lib-main/angular-messages.js" asp-append-version="true"></script>
            <script src="~/lib-main/angular-material.js" asp-append-version="true"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("scripts", required: false)
    </body>
</html>
