﻿@model ScanClimeIndexVM
@{
    ViewData["Title"] = "Unit Dashboard";

    Layout = "_SdmLayout";
}

     

<div flex="">
    <div layout="row">
        <div flex><i title="No errors" style="color:green;font-size:200%" class="material-icons">done</i></div> <div flex class="small">GM500</div> 
    </div>
    <div >
        @if (Model.Measurement.PressureDiff > 0)
        {
            <i style="color:black;font-size:300%" class="material-icons" title="Positive air pressure">add circle outline</i>
        }
        else {
            <i style="color:black;font-size:300%" class="material-icons" title="Negative air pressure">remove circle outline</i>
        }
    </div>
    <div>
        <br /><br /><br /><br />
        <div class="large">@Math.Round(Model.Measurement.InletTemperature??0,1) &#176;C</div>
        <div class="small">
            Current temperature
        </div>
    </div>
    <div>
        <br /><br /><br /><br />
        <div class="large"> @Math.Round(Model.Measurement.CageHumidity??0, 1) RH%</div>
        <div class="small">
            Current humidity
        </div>
    </div>

    <div>
        <br /><br /><br /><br />
        <!-- TODO: Find a better way to implement formating in views -->
        <div class="large"> @Math.Round(Model.Measurement.AirChangeActual??0, 0)</div>
        <div class="small">
            Air changes pr. hour
        </div>
    </div>
</div>
<div flex="75">
    <div layout="column">
        <div flex class="border-bottom">
            <div layout="row">
                <div flex class="">
                @Model.Scunit.Title
                </div>
                <div flex class="small"></div>
                <div flex class="small" style="text-align:right" title="Time of last measurement">@Model.Measurement.UpdatedAt.ToShortTimeString()</div>

            </div>
        </div>
        <div flex style="white-space:nowrap" class="border-bottom">
            <div style="background-color:lightblue;width:40em;height:10em;text-align:center;vertical-align:middle" class="small">...temperature chart to come...</div>

        </div>
        <div flex style="white-space:nowrap">

            <div style="background-color:lightblue;width:40em;height:10em;text-align:center;vertical-align:middle" class="small">...humidity chart to come...</div>

        </div>
    </div>
</div>
