﻿@model ScanClimeListVM
@{
    ViewData["Title"] = "List";

    Layout = "_SdmLayout";

}

@foreach (var sc in @Model.Scunits)
{
    <div style="display:inline-flex;width:50em;height:20em;text-align:center;vertical-align:middle; border-left:1px solid lightgrey;border-bottom:1px solid lightgrey;">
        <table>
            <tr>
                <td>
                    <h1 class="md-headline">
                        <a href='@Url.Action("Index","ScanClime",new { id = sc.Id})'>
                            @sc.Title
                        </a>
                    </h1>
                    <a href='@Url.Action("Index","ScanClime",new { id = sc.Id})'>

                        <span class="small">@sc.IdStr</span> &nbsp; <span class="small">Last updated: @sc.UpdatedAt</span>
                    </a>
                </td>
                <td>
                </td>
            </tr>
        </table>

    </div>
}


