﻿[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

div[flex] {
    padding:4px;
}

.border-bottom {
    border-bottom:1px solid lightgrey;
}

.border-right {
    border-right: 1px solid lightgrey;
}

.small {
    font-size:60%;
}


.large {
    font-size:150%;
}
